.page-header {
  padding: 0 20px;
}
[type="checkbox"]:checked+label:before {
  top: 5px;
}
[type="checkbox"]+label:before {
  top: 10;
}
.collapsible-header:hover {
  background-color: #ddd;
}
.collapsible-header.active {
  color: #fff;
  background-color: #ee6e73;
}
.collapsible-header.active [type="checkbox"]+label:before {
  border: 2px solid white;
}
.collapsible-header.active  [type="checkbox"]:checked+label:before {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}
.form {
  padding: 15px;
  margin-bottom: 0;
}
.page-header .btn {
  float: right;
  margin-top: 30px;
}
.page-header h3 {
  float: left;
}
.collapsible {
  clear: both;
}
ul.tabs {
  overflow-x: hidden;
}
