<header>
  <nav>
    <ul id="slide-out" class="side-nav fixed">
      <li class="logo-wrapper valign-wrapper"><a [routerLink]="['Dashboard']" class="logo valign"><img src="img/generic-logo-hi.png" alt="" /></a></li>
      <li class="waves-effect"><a [routerLink]="['Dashboard']"><i class="small material-icons">dashboard</i> Dashboard</a></li>
      <li class="waves-effect" *ngFor="#collection of collections"><a [routerLink]="['List', {name: collection.name}]"><i class="small material-icons">list</i> {{collection.name}}</a></li>
      <li class="waves-effect"><a [routerLink]="['Schema']"><i class="small material-icons">add_box</i> New collection</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <div class="right valign-wrapper user-wrapper">
      <span class="hide-on-small-only">Welcome, Pero Peric</span>
      <a class='dropdown-button' style="cursor:pointer" data-activates='dropdown1'><i class="small material-icons">arrow_drop_down_circle</i></a>
    </div>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">Profile</a></li>
      <li><a href="#!">Settings</a></li>
      <li class="divider"></li>
      <li><a href="#!">Logout</a></li>
    </ul>
  </nav>
</header>
<main>
  <!-- Routed views go here -->
  <router-outlet></router-outlet>
</main>
<footer class="page-footer">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Footer Content</h5>
      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li>
          <a class="grey-text text-lighten-3" href="#!">Link 1</a>
        </li>
        <li>
          <a class="grey-text text-lighten-3" href="#!">Link 2</a>
        </li>
        <li>
          <a class="grey-text text-lighten-3" href="#!">Link 3</a>
        </li>
        <li>
          <a class="grey-text text-lighten-3" href="#!">Link 4</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="ps">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
