<div class="page-header">
  <h3>List view</h3>
</div>
<ul class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header waves-effect waves-light"><input type="checkbox" id="test1"/><label for="test1"></label>First</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header waves-effect waves-light"><input type="checkbox" id="test2"/><label for="test2"></label>Second</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header waves-effect waves-light"><input type="checkbox" id="test3"/><label for="test3"></label>Third</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
